<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Inserir Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adm_page.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
<div class="container">
<div class="navbar">
    <a href="/home">
        <button><b>?</b></button></a>
    <a href="/movimentacao">
        <button><b>MOVIMENTAÇÃO</b></button></a>
    <a href="/cadastro">
        <button><b>CADASTRO</b></button></a>
    <a href="/estoque">
        <button><b>ESTOQUE</b></button></a>
    <a href="/">
        <button><b>FECHAR</b></button></a>
    <a href="/adm">
        <button><b><u>ADM</u></b></button></a>
</div>
    <div class="senailogo-container">
        <img src="{{ url_for('static', filename='imagens/senailogo.png') }}" alt="SENAI" class="senailogo">
    </div>
    </div>

<h1 class="titulo_pagina">CRIAR USUÁRIOS</h1>
<div id="form_cadastro" class="area_formulario">
    
<form action="/adicionar_user_concluido" method="POST" class="formulario_cadastro">

    <div class="linha_campo">
        <label class="rotulo_campo">Tipo:</label>
        <select class="entrada_campo" name="selecao">
            <option selected>Selecione o tipo de permissão</option>
            <option value="admin">Administrador</option>
            <option value="user">Usuário</option>
        </select>
    </div>

    <div class="linha_campo">
        <label class="rotulo_campo" for="nome">Nome do Usuário:</label>
        <input type="text" class="entrada_campo" id="nome" placeholder="Nome" name="nome">
    </div>

    <div class="linha_campo">
        <label class="rotulo_campo" for="qtd">Senha:</label>
        <input type="password" class="entrada_campo" id="qtd" placeholder="Senha" name="senha">
    </div>

    <button type="submit" class="botao_cadastrar">Adicionar</button>
</form>
</div>
</body>
</html>