<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adm_page.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
<!-- dashboard-->
<div class="container">
<div class="navbar">
    <a href="/home">
        <button><b>?</b></button></a>
    <a href="/cadastro">
        <button><b>CADASTRO</b></button></a>
    <a href="/estoque">
        <button><b>ESTOQUE</b></button></a>
    <a href="/">
        <button><b> FECHAR </b></button></a>
    <a href="/adm">
        <button><b><u>ADM</u></b></button></a>
</div>
    <div class="senailogo-container">
        <img src="{{ url_for('static', filename='senailogo.png') }}" alt="SENAI" class="senailogo">
    </div>
    </div>
    <h1>  
      
        USUÁRIOS
    </h1>

      <br>
      <div class ="botaoADM">
            <button onclick="adicionar()">Adicionar</button>

            <button onclick="rem()">Retirar</button>
        </div>

       <table id="tabela">
        <tr>
            <th>ID:</th>
            <th>Usuário:</th>
            <th>Senha:</th>
        </tr>
        {% for item in resultado %}
            <tr>
                <th>{{item[0]}}</th>
                <th>{{item[1]}}</th>
                <th>{{item[2]}}</th>
            </tr>

            <tr>
                <th>{{item[0]}}</th>
                <th>{{item[1]}}</th>
                <th>{{item[2]}}</th>
            </tr>

        {% endfor %}
    </table>

</body>
</html>