<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Movimentação Concluída</title>
<link rel="stylesheet" href="{{ url_for('static', filename='movimentacao_concluida.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
<div class="container">
<div class="navbar">
    <a href="/home">
        <button><b>?</b></button></a>
    <a href="/movimentacao">
        <button><b>MOVIMENTAÇÃO</b></button></a>
    <a href="/cadastro">
        <button><b>CADASTRO</b></button></a>
    <a href="/estoque">
        <button><b>ESTOQUE</b></button></a>
    <a href="/">
        <button><b>FECHAR</b></button></a>
    <a href="/adm">
        <button><b><u>ADM</u></b></button></a>
</div>
    <div class="senailogo-container">
        <img src="{{ url_for('static', filename='imagens/senailogo.png') }}" alt="SENAI" class="senailogo">
    </div>
    </div>

 <h1 class="titulo_pagina">ADICIONAMENTO CONCLUÍDO</h1>

 {{qtd_banco}}

<div class="area_conclusao">
    <p class="texto_conclusao">Usuário adicionado com sucesso!</p>
    <img src="{{ url_for('static', filename='imagens/rogermtaaura.png') }}" class="imagem_conclusao">
    <a href="/adm_page" class="botao_adicionar">Ver Usuários</a>
</div>

</body>
</html>
