<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_incorreto.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    
</head>
<body>
        <img src="{{ url_for('static', filename='imagens/rogerio.png') }}" alt="Imagem de login" class="imagem">
        <form id="form_login" action="/estoque" method="post"> 
        <div class="barra-de-login">
            <h1 class="titulo"><b>SISTEMA <br>DE<br>ALMOXARIFADO</b></h1>
            <div class="usuario">
                <label for="usuario"><b>Usuário:</b></label>
                <input type="text" name="user">
            </div>
            <div class="senha">
                <label for="senha"><b>Senha:</b></label>
                <input type="password" name="password">
            </div>

            <b class="erro">Credenciais inválidas, tente novamente.</b>            
            <button type="submit" class="entrar"><b>ENTRAR</b></button>
</body>
</html>